.container
    header.jumbotron.masthead
        .inner
        h2 Hack #42 Build “Native” Illustrations with Scalable Vector Graphics
            .row
                xobject(data="assets/img/smiley.svg", type="image/svg+xml", height="800", width="800")
            
            .row
                object(data="assets/img/smiley2.svg", type="image/svg+xml", height="800", width="800")
            
            .row
                xobject(data="assets/img/animation.svg", type="image/svg+xml", height="800", width="800")
            
            .row
    