.container
  ul
    li
      a(href='/example1') Hack #37 Draw Shapes on Your HTML5 canvas Tag
    li
      a(href='/example2') Hack #41 Accelerate Animation with Canvas Drawings
    li
      a(href='/example3') Hack #42 Build “Native” Illustrations with Scalable Vector Graphics    
